/* General */
body {
    font-family: "Poppins", sans-serif;
}

/* Header Navigation */
.bg-light {
	background-color: #f8f9fa !important;
	border-bottom: 1px solid #eee;
}
/* This line suggested by demyr17 seems to have no affect - left it for now as I believe its intent is good - dont know how to fix it */
navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
	color: rgba(255, 255, 255, 0.9); 
	background:#e1501f; 
	border-radius: 3px;
}

/* Buttons */
.btn-ci { 
	border-color: #cf3c0b; 
	background-color: #e1501f; 
	color:#ffffff;
}
.btn-ci:hover { 
	background-color: #cf3c0b;
	color:#cccccc;
}

/* Section: Intro */
#intro {
    background-color: #f8f9fa;
	padding-top: 70px;
	padding-bottom: 0px;
}
.divider_curve_white {
	height: 250px;
	background:	url(../images/backgrounds/background-curve-white.png) bottom center repeat-x;
}

/* Sections: General Usage */
.white_content {
	padding-top: 50px;
}

/* Section: Footer */
#footer {
	margin-top: 50px;
	padding-bottom: 30px;
	background-color: #dd4814;
}
.divider_curve_white_down {
	height: 100px;
	background:	url(../images/backgrounds/background-curve-white-down.png) top center repeat-x;
}
.footer_link:link, .footer_link:hover, .footer_link:active {
	color: #dddddd;
}
.footer_link:hover {
	color: #ffffff;
	text-decoration: underline;
}

/* Section: Foot Note */
#foot_note {
	margin: 15px 0px 15px 0px;
}
.foot_note_text {
	color: #777777;
	margin-bottom: 0px;
}



/* downlaod page */

.version-boxes-latest{float:left;width:440px;height:440px;padding:10px;box-sizing:border-box;border-radius:360px;background:#e1501f;} 
	.version-boxes-latest:hover{box-shadow: 4px 0px 13px 15px #eee;} 
.version-boxes-second{float:left;width:380px;height:380px;margin-left:30px;padding:10px;box-sizing:border-box;border-radius:360px;background:#f3f3f3;}
	.version-boxes-second:hover{box-shadow: 4px 0px 13px 15px #eee;}
.version-boxes-ex{float:left;width:330px;height:330px;padding:10px;box-sizing:border-box;border-radius:360px;background:#f3f3f3;}
	.version-boxes-title{font-size:20px;font-weight:600;color:#343434;text-align:center;margin-top:30px;}
	.version-boxes-title-latest{font-size:20px;font-weight:600;color:#fff;text-align:center;margin-top:30px;}
	.version-boxes-text{width:80%;margin:30px auto;font-size:12px;font-weight:400;color:#000;text-align:center;}
	.download-buttons{width:70%;height:auto;margin:30px auto;}
	.version-boxes-ex .download-buttons{width:40%;height:auto;margin:10px auto;}
		.buttons-me{float:left;margin:10px;}
		.buttons-me2{float:left;margin:5px;}

